@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply tracking-wider;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--font-roboto);
}

.content {
  @apply max-w-[1140px] mx-auto;
}

*:has(> .content) {
  @apply px-4;
}

.center {
  @apply flex justify-center items-center;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.undraggable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.br br {
  @apply block mb-10;
  content: "";
}

hr {
  @apply w-full border-dark/35;
}

.swiper-button-prev,
.swiper-button-next {
  @apply shadow bg-primary rounded-full w-12 h-12 border-4 border-white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-white font-bold text-xl;
}

.swiper-slide {
  @apply opacity-50 transition-all duration-300;
  @apply flex justify-center !important;
}

.swiper-slide-next {
  @apply opacity-100 overflow-visible z-50 !important;
}

.swiper-slide-next div {
  @apply transform scale-[115%] transition-all duration-300;
}

.swiper {
  overflow: visible !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px rgb(91 203 85/0.05) inset;
  box-shadow: 0 0 0 30px rgb(91 203 85/0.05) inset;
  border-color: #5bcb55;
}

.invalid {
  @apply border-red-500;
  animation: error 0.3s ease-in-out;
}

[contenteditable]:focus {
  @apply outline-none bg-primary/10;
}

/* Animations */

@keyframes error {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes AlertUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.alertUp {
  animation: AlertUp 0.3s ease-in-out;
}

@keyframes Spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: Spinner 1s linear infinite;
}
