@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: var(--font-roboto);
}

.content {
  @apply max-w-[1140px] mx-auto;
}

div:has(.content){
  @apply px-4;
}

.center {
  @apply flex justify-center items-center;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.undraggable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}